:root {
  --fg: #191919;
}

html {
  height: 100%;
}

@media (min-width: 991px) {
  body {
    max-width: 990px;
    margin-left: auto;
    margin-right: auto;
  }
}

body {
  color: var(--fg);
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
  display: flex;
  align-items: center;
}

header > * {
  margin: 0 10px 0 0;
}

header > *:last-child {
  margin: 0;
}


main {
  flex-grow: 1;
}


footer {
  border-top: 1px solid gray;
  margin-top: 1em;
  padding-top: 0.5em;
  display: flex;
}

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  margin-right: 2em;
}


.form-error {
  background: #cd0000;
  color: #fffafa;
  margin: 1em 0;
  padding: 0 0.3em;
}

.hidden {
  display: none;
}


.form--useradd {
  max-width: 400px;
  margin: 0 auto;
}

.form--useradd fieldset {
  margin: 0;
  border: 0;
  padding: 0;
}

.form--useradd fieldset > div {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 5px;
}

#form--useradd__captcha {
  grid-row: auto;
  grid-column: 1 / -1;
}

.form--useradd__btn {
  grid-row: auto;
  grid-column: 1 / -1;
  text-align: end;
}


.form--image fieldset {
  margin: 0;
  border: 0;
  padding: 0;
}

#image__license-sel {
  max-width: max-content;
}

div.awesomplete {
  width: 100%;
}

div.awesomplete > input {       /* FIXME */
  width: -webkit-fill-available;
  width: -moz-available;
}


.image--viewer {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.image--viewer__controls {
  flex-grow: 1;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: auto 1fr;
}

#image--viewer__controls__delete {
  grid-column: span 2;
  max-width: fit-content;
  justify-self: end;
  margin-top: 2rem;
}

.wrinput__readable,
.wrinput__writable {
  flex-grow: 1;
}

.wrinput__writable > div.awesomplete {
  width: 100%;
}

pre.wrinput__readable {
  margin: 0;
  font-family: serif;
}


.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image--preview {
  max-width: calc(320px);
  padding: 5px 5px 15px 5px;

  display: flex;
  flex-direction: column;

  overflow: auto;
  word-break: break-word;
}

.images__btn-next {
  display: block;
  width: max-content;
  margin: 10px auto;

  font-size: xx-large;
  padding: 5px 50px;
  text-decoration: none;
  border: 2px solid blue;
}


#doc {
  margin: 0 auto;
  max-width: 600px;
}

#doc table, #doc th, #doc td {
  border: 1px solid var(--fg);
}

#doc table {
  border-collapse: collapse;
}

#doc th, #doc td {
  padding: 5px;
}


.gdpr-warning {
  margin: 10px auto;
  max-width: 400px;
  border: 1px solid #a5a5a5;
  padding: 1em;

  /* checkerboard pattern */
  background-color: white;
  background-image: linear-gradient(45deg, #fcfcfc 25%, transparent 25%, transparent 75%, #fcfcfc 75%, #fcfcfc),
                    linear-gradient(45deg, #fcfcfc 25%, transparent 25%, transparent 75%, #fcfcfc 75%, #fcfcfc);
  background-size: 60px 60px;
  background-position: 0 0, 30px 30px;
}

.gdpr-warning h2 {
  margin-top: 0;
}

.gdpr-warning button {
  float: right;
}
