[Unit]
Description = lostclipart http server
After = network.target

[Service]
WorkingDirectory = %h/lib/proj/lostclipart/src
SyslogIdentifier = lostclipart
ExecStart = %h/lib/software/alex/go/bin/node server.js
Restart = no

ProtectHome = true
ReadWritePaths = %h/lib/proj/lostclipart/src/_out/

[Install]
WantedBy = multi-user.target
